{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}ScanMe - Stocktakes{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="pull-right">
    <a href="{{ url_for('.add') }}">
        <span class="btn btn-success">Add</span>
    </a>
</div>
<h1>Current Stocktakes</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name:</th>
                <th>Start Date:</th>
                <th>End Date:</th>
                <th>Author:</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td><a href="{{ url_for('.stitem', id=stock.id) }}">{{ stock.name }}</a></td>
                <td>{{ stock.start_date }}</td>
                <td>
                    {% if stock.end_date %}
                    {{ stock.end_date }}
                    {% endif %}
                </td>
                <td></td>
                <td>
                    <a href="{{ url_for('.delete', id=stock.id) }}">
                        <span class="label label-danger">Delete</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.menu') }}
</div>
{% endif %}

{% endblock %}