{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}ScanMe - Stocktake Items{% endblock %}

{% block page_content %}
{% if current_user.is_authenticated %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Number:</th>
                <th>Name:</th>
                <th>Count:</th>
                <th>Price:</th>
                <th>SN:</th>
                <th>Barcode:</th>
            </tr>
        </thead>
        <tbody>
            {% for stitem in stitems %}
                <tr>
                    <td>{{ stitem.number }}</td>
                    <td>{{ stitem.name }}</td>
                    <td>{{ stitem.count }}</td>
                    <td>{{ stitem.price }} $</td>
                    <td>{{ stitem.sn }}</td>
                    <td>{{ stitem.barcode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.stitem') }}
</div>
{% endif %}
{% endif %}

{% endblock %}