{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ScanMe{% endblock %}

{% block page_content %}

<div>
    {% if current_user.can(Permission.ADD) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% if current_user.is_authenticated %}
<h2>Your warehouse:</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Number:</th>
                <th>Name:</th>
                <th>Count:</th>
                <th>Price:</th>
                <th>S/N:</th>
                <th>Barcode:</th>
                <th>Added:</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="{{ url_for('.item', number=item.number) }}">{{ item.number }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.price }} $</td>
                <td>{{ item.sn }}</td>
                <td>{{ item.barcode }}</td>
                <td>{{ moment(item.timestamp).fromNow() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>






</div>
{% else %}
<div class="page-header">
    <h1>Welcome in ScanMe App.</h1>
    <p>If you want to check items please <a href="{{ url_for('auth.register') }}">register</a></p>
</div>
{% endif %}
{% endblock %}