{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ScanMe{% endblock %}

{% block page_content %}

<div>
    {% if current_user.can(Permission.ADD) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% if current_user.is_authenticated %}
<ul class="items">
    {% for item in items %}
    <li class="item">
        <div class="item-content">
            <div class="item-col">{{ moment(item.timestamp).fromNow() }}</div>
            <div class="item-col"><a href="{{ url_for('.item', number=item.number) }}">{{ item.number }}</a></div>
            <div class="item-col">{{ item.name }}</div>
            <div class="item-col">{{ item.count }}</div>
            <div class="item-col">{{ item.price }}</div>
            <div class="item-col">{{ item.sn }}</div>
            <div class="item-col">{{ item.barcode }}</div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="page-header">
    <h1>Welcome in ScanMe App.</h1>
    <p>If you want to check items please <a href="{{ url_for('auth.register') }}">register</a></p>
</div>
{% endif %}
{% endblock %}